@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Manrope&display=swap');

* {
  font-family: 'Josefin Sans', sans-serif;
  
}




body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  /* background-color: hsl(235, 21%, 11%); */
  align-items: center;
}

body > {
  color: aqua;
}


.container {
  width: 500px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  letter-spacing: .90rem;
  cursor: pointer;
}


.dark {
  color: #fff;
  
}

.darks > .task .task-container .footer{
  color: white;
  /* background-color: hsl(237, 14%, 26%); */
  
}



.btn {
  color: black;
  width: 40px;
  height: 40px;
  background: none;
  cursor: pointer;
  border: none;
  
  /* border: none; */
  
}

.btn:active {
  transition: all 1s ease-in-out;
  transform: rotate(-45deg);
}


.task {
  display: flex;
  align-items: center;
}

ol {
  padding: 0;
}

.task-container {
  max-height: 295px;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  padding: 0;
}

/* ::-webkit-scrollbar {
  background: hsl(237, 16%, 50%);
}
::-webkit-scrollbar-button {
  background: hsl(237, 16%, 50%);
}
::-webkit-scrollbar-track {
  background: gray;
}

::-webkit-scrollbar-thumb {
  background: black;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.add-form {
  display: flex;
  align-items: center;
  width: 100%;
}


.plus {
  width: 45px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  margin-right: 20px;
  margin-left: 20px;
  background: none;
  
  border: 2px solid black;
  background-color: #fff;
  color: black;
  font-size: 2rem;
  cursor: pointer;
}

.todo-name {
  width: 100%;
  margin-left: 20px;
}

input {
  font-size: 18px;
  width: 100%;
  background: none;
  border: none;
  color: black;
}
input:focus {
  outline: none;
}

.checkbox {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
    padding: 12px;
    padding-right: 10px;
    border: none;
    background-color: grey;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.checked {
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.checkmark {
  fill: #fff;
 }




.task {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  /* background-color: hsl(237, 14%, 26%); */
  border-radius: 3px;
  margin-bottom: 30px
}

.a-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  
   background-color: hsl(237, 14%, 26%); 
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.task-added {
  display: flex;
  align-items: center;
  width: 100%;
  
  height: 55px;
 
 
}

.left {
  display: flex;
}

.task-crossed {
  display: flex;
  align-items: center;
  width: 100%;
  height: 55px;
  background-color: hsl(237, 14%, 26%);
  border-bottom: 1px solid #fff;
  text-decoration: line-through;
  cursor: pointer;
}

.task-text-container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  
}

.task-added:hover {
  cursor: pointer;
}

.crossed {
  text-decoration: line-through;
  background-color: gray;
  
}



.x {
  cursor: pointer;
  width: 20px;
  height: 20px;
  fill: rgb(151, 7, 7);
  background: none;
  border: none;
  margin-right: 20px;
}

.alert {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  font-weight: 800;
  letter-spacing: .2rem;

}

.footer {
  display: flex;
  align-items: center;
  /* background-color: hsl(237, 14%, 26%); */
  border-top: 2px solid white;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  justify-content: space-around;
  padding: 3px;
  font-size: 15px;

}

.items {
  
}

.states {
  list-style: none;
  display: flex;
  gap: 15px;
}

li:hover {
  color: aqua;
  cursor: pointer;
}

ul .selected {
  color: aqua;
}

.clear {
  background: none;
  border: none;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}



.clear:hover {
  color: #fff;
  cursor: pointer;
}

.task, .task-container, .footer, .alert {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.6);
}



/* Darkmode Colors */



.boddark  {
  background-color:hsl(235, 21%, 11%);
}
.dark ol, .task, .footer, .alert {
  background-color: hsl(237, 14%, 26%);
  color: #fff;
}

.dark .clear {
  color: #fff;
}


.dark .footer, .task {
  border-top: 1px solid white;
  background-color: hsl(237, 14%, 26%);
}

.dark .a-task {
  border-bottom: 1px solid white;
}

.dark .crossed {
  background-color: gray;
}

/* Lightmode Colors */

.bodlight  {
  background-color: hsl(0, 0%, 98%);
}

.light div{
  color: black;
}



.light ol, .task, .footer {
  background-color: hsl(0, 0%, 98%);
}

.light .crossed {
  background-color: gray;
}

.light .alert {
  background-color: #fff;
}

.light .footer, .a-task {
  border-top: 1px solid hsl(235, 19%, 35%);
}


/* Drag Drop */

li.hint {
  
}
li.active {
 
}

/*  Change State */

.hidden {
  display: none;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
/* ## Colors

### Primary

- Bright Blue: hsl(220, 98%, 61%)
- Check Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%)

### Neutral

### Light Theme

- Very Light Gray: hsl(0, 0%, 98%)
- Very Light Grayish Blue: hsl(236, 33%, 92%)
- Light Grayish Blue: hsl(233, 11%, 84%)
- Dark Grayish Blue: hsl(236, 9%, 61%)
- Very Dark Grayish Blue: hsl(235, 19%, 35%)

### Dark Theme

- Very Dark Blue: hsl(235, 21%, 11%)
- Very Dark Desaturated Blue: hsl(235, 24%, 19%)
- Light Grayish Blue: hsl(234, 39%, 85%)
- Light Grayish Blue (hover): hsl(236, 33%, 92%)
- Dark Grayish Blue: hsl(234, 11%, 52%)
- Very Dark Grayish Blue: hsl(233, 14%, 35%)
- Very Dark Grayish Blue: hsl(237, 14%, 26%) */
